{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    {% if request.GET.command == 'verification' %}

    <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">
        <h2>Verification Successful</h2>
        <p>Thank you for registering, We have sent you a verification link to [{{ request.GET.email }}]</p>
        <br><br>
        Already Verified? <a href="{% url 'login' %}">Login</a>"
    </div>

    {% else %}

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
            {% include 'includes/alerts.html' %}
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" class="form-control" placeholder="Email Address" name="email" required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <a href="{% url 'forgotPassword' %}" class="float-right">Forgot password?</a>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div> <!-- form-group// -->    
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Don't have an account? <a href="{% url 'register' %}">Sign up</a></p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->

    {% endif %}

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}
